<div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
          	<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Cliffwater Direct Lending Index </span>
              <a class="d-flex align-items-center text-muted" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
              </a>
            </h6>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  Illustrative capitalization <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  U.S. Corporate Debt Market
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  U.S. middle market direct loans
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  Cliffwater Direct Lending Index (CDLI)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  Industry and Credit composition
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  Cumulative Total Return Comparison
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  CDLI income return
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  Cumulative Total Return Comparison
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  Yield by credit seniority
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  CDLI net realized, unrealized gains (losses)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  Comparative realized credit losses
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  CDLI total return
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  CDLI direct loan pricing
                </a>
              </li>
              
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Potential Returns</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                  Available Risk Premiums
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                  Mapping of Representative List
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                  Cumulative Erosion
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                  Net Realized Losses vs. Income
                </a>
              </li>
            </ul>
          </div>
        </nav>

       

<main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 cdlfChartSec">
	<div class="container-fluid dashboardSec">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>Illustrative capitalization of $40m EBITDA middle market company</h5>
				  </div>
				  <div class="card-body">
				  	<div class="illCapChartSec">
				  		<div class="illCapChartSec-box0 text-center">Total Enterprise Value = $360m</div>
				  		<div class="illCapChartSec-box1 text-center shadow-lg rounded">Bank Revolver</div>
				  		<div class="illCapChartSec-box2 text-center shadow-lg rounded">1st Lien Debt = $160m (~7% yield2)</div>
				  		<div class="illCapChartSec-box3 text-center shadow-lg rounded">2nd Lien Debt = $40m (~11% yield2)</div>
				  		<div class="illCapChartSec-box2 text-center shadow-lg rounded">Equity = $160m (~20% return2)</div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>Private direct lending provides 4% of U.S. corporate debt financing</h5>
				  </div>
				  <div class="card-body">
				    <div id="corpDebtMarket" style="width: 900px; height: 500px;"></div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>Key characteristics of U.S. middle market direct loans</h5>
				  </div>
				  <div class="card-body">
				    <!--<h5 class="card-title">Illustrative capitalization of $40m EBITDA middle market company</h5>-->
				    <p class="card-text">Key characteristics of U.S. middle market direct loans</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>The Cliffwater Direct Lending Index (CDLI)</h5>
				  </div>
				  <div class="card-body">
				    <p class="card-text">The Cliffwater Direct Lending Index (CDLI)</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>Middle Market Direct Loans by Industry</h5>
				  </div>
				  <div class="card-body">
				    <div id="mdlMarketLoanInd" style="width: 900px; height: 500px;"></div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>Middle Market Direct Loans by Credit Type</h5>
				  </div>
				  <div class="card-body">
				    <div id="mdlMarketLoanCredit" style="width: 900px; height: 500px;"></div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>CDLI performance</h5>
				  </div>
				  <div class="card-body">
				    <!--<h5 class="card-title">Illustrative capitalization of $40m EBITDA middle market company</h5>-->
				    <p class="card-text">CDLI performance</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>Cumulative Total Return Comparison</h5>
				  </div>
				  <div class="card-body">
				    <p class="card-text">Cumulative Total Return Comparis</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>CDLI Income Return</h5>
				  </div>
				  <div class="card-body">
				    <div id="cdliIncReturnChart" style="width: 900px; height: 500px;"></div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>Yield Comparison</h5>
				  </div>
				  <div class="card-body">
				    <div id="yieldCompChart" style="width: 900px; height: 500px;"></div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>Yield by credit seniority</h5>
				  </div>
				  <div class="card-body">
				     <div id="yieldByCreditChart" style="width: 900px; height: 500px;"></div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>Comparative realized credit losses across high yield bonds, bank loans,
and CDLI middle market loans</h5>
				  </div>
				  <div class="card-body">
				  	<p class="custom-title">13 Year Comparison of Credit Losses from High Yield Bonds, Bank Loans and Middle Market Debt, 2005 to 2017 </p>
				  	 <p class="card-text">* Source: JPMorgan Markets, ** Source: Cliffwater Direct Lending Index (Realized Credit Losses)</p>	
				    	<table class="table table-bordered">
				    		<thead class="thead-light">
				    			<tr>
					    			<th rowspan="2">Year</th>
					    			<th colspan="3" class="text-center">High Yield Bonds*</th>
					    			<th colspan="3" class="text-center">Bank Loans*</th>
					    			<th colspan="1" class="text-center">CDLI Middle Market Debt**</th>
					    		</tr>
					    		<tr>
					    			<th>Default ratio</th>
					    			<th>Recovery Rate</th>
					    			<th>Credit Loss</th>
					    			<th>Default ratio</th>
					    			<th>Recovery Rate</th>
					    			<th>Credit Loss</th>
					    			<th class="text-center">Credit Loss**</th>
					    		</tr>
				    		</thead>
				    		<tbody>
				    			<tr>
				    				<td class="text-right">2005</td>
				    				<td class="text-right">2.8%</td>
				    				<td class="text-right">56%</td>
				    				<td class="text-right">1.2%</td>
				    				<td class="text-right">3.0%</td>
				    				<td class="text-right">84%</td>
				    				<td class="text-right">0.48%</td>
				    				<td class="text-right">-0.89%</td>
				    			</tr>
				    			<tr>
									<td class="text-right">2006</td>
									<td class="text-right">0.9%</td>
									<td class="text-right">55%</td>
									<td class="text-right">0.4%</td>
									<td class="text-right">0.5%</td>
									<td class="text-right">84%</td>
									<td class="text-right">0.08%</td>
									<td class="text-right">-0.63%</td>
								</tr>
								<tr>
									<td class="text-right">2007</td>
									<td class="text-right">0.4%</td>
									<td class="text-right">55%</td>
									<td class="text-right">0.2%</td>
									<td class="text-right">0.2%</td>
									<td class="text-right">69%</td>
									<td class="text-right">0.06%</td>
									<td class="text-right">-1.74%</td>
								</tr>
								<tr>
									<td class="text-right">2008</td>
									<td class="text-right">2.3%</td>
									<td class="text-right">27%</td>
									<td class="text-right">1.7%</td>
									<td class="text-right">3.7%</td>
									<td class="text-right">58%</td>
									<td class="text-right">1.55%</td>
									<td class="text-right">0.59%</td>
								</tr>
								<tr>
									<td class="text-right">2009</td>
									<td class="text-right">10.3%</td>
									<td class="text-right">36%</td>
									<td class="text-right">6.6%</td>
									<td class="text-right">12.8%</td>
									<td class="text-right">61%</td>
									<td class="text-right">4.99%</td>
									<td class="text-right">6.91%</td>
								</tr>
								<tr>
									<td class="text-right">2010</td>
									<td class="text-right">0.8%</td>
									<td class="text-right">41%</td>
									<td class="text-right">0.5%</td>
									<td class="text-right">1.8%</td>
									<td class="text-right">71%</td>
									<td class="text-right">0.52%</td>
									<td class="text-right">2.96%</td>
								</tr>
								<tr>
									<td class="text-right">2011</td>
									<td class="text-right">1.7%</td>
									<td class="text-right">49%</td>
									<td class="text-right">0.9%</td>
									<td class="text-right">0.4%</td>
									<td class="text-right">67%</td>
									<td class="text-right">0.13%</td>
									<td class="text-right">1.78%</td>
								</tr>
								<tr>
									<td class="text-right">2012</td>
									<td class="text-right">1.3%</td>
									<td class="text-right">53%</td>
									<td class="text-right">0.6%</td>
									<td class="text-right">1.4%</td>
									<td class="text-right">55%</td>
									<td class="text-right">0.63%</td>
									<td class="text-right">0.60%</td>
								</tr>
								<tr>
									<td class="text-right">2013</td>
									<td class="text-right">0.7%</td>
									<td class="text-right">53%</td>
									<td class="text-right">0.3%</td>
									<td class="text-right">1.7%</td>
									<td class="text-right">69%</td>
									<td class="text-right">0.53%</td>
									<td class="text-right">0.19%</td>
								</tr>
								<tr>
									<td class="text-right">2014</td>
									<td class="text-right">2.9%</td>
									<td class="text-right">48%</td>
									<td class="text-right">1.5%</td>
									<td class="text-right">4.3%</td>
									<td class="text-right">73%</td>
									<td class="text-right">1.16%</td>
									<td class="text-right">-0.01%</td>
								</tr>
								<tr>
									<td class="text-right">2015</td>
									<td class="text-right">1.8%</td>
									<td class="text-right">25%</td>
									<td class="text-right">1.4%</td>
									<td class="text-right">1.7%</td>
									<td class="text-right">48%</td>
									<td class="text-right">0.88%</td>
									<td class="text-right">0.70%</td>
								</tr>
								<tr>
									<td class="text-right">2016</td>
									<td class="text-right">3.6%</td>
									<td class="text-right">31%</td>
									<td class="text-right">2.5%</td>
									<td class="text-right">1.5%</td>
									<td class="text-right">63%</td>
									<td class="text-right">0.56%</td>
									<td class="text-right">1.41%</td>
								</tr>
								<tr>
									<td class="text-right">2017</td>
									<td class="text-right">1.3%</td>
									<td class="text-right">49%</td>
									<td class="text-right">0.6%</td>
									<td class="text-right">1.8%</td>
									<td class="text-right">62%</td>
									<td class="text-right">0.70%</td>
									<td class="text-right">1.75%</td>
								</tr>
				    		</tbody>
				    		<tfoot>
				    			<tr class="table-secondary">
									<td class="text-right">2005-2017</td>
									<td class="text-right">2.4%</td>
									<td class="text-right">44%</td>
									<td class="text-right">1.40%</td>
									<td class="text-right">2.7%</td>
									<td class="text-right">66.5%</td>
									<td class="text-right">0.94%</td>
									<td class="text-right">1.05%</td>
								</tr>
				    		</tfoot>
				    	</table>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>CDLI Net Realized Gains (Losses)</h5>
				  </div>
				  <div class="card-body">
				    <div id="netRealGainChart" style="width: 900px; height: 500px;"></div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>CDLI Net Unrealized Gains (Losses)</h5>
				  </div>
				  <div class="card-body">
				    <div id="netUnRealGainChart" style="width: 900px; height: 500px;"></div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>CDLI Total Return (trailing 4 quarter)</h5>
				  </div>
				  <div class="card-body">
				    <div id="cdliTotRetChart" style="width: 900px; height: 500px;"></div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>CDLI direct loan pricing</h5>
				  </div>
				  <div class="card-body">
				    <p class="card-text">CDLI direct loan pricing</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>Available Risk Premiums in Direct U.S. Middle Market Loans</h5>
				  </div>
				  <div class="card-body">
				    <!--<h5 class="card-title">Illustrative capitalization of $40m EBITDA middle market company</h5>-->
				    <p class="card-text">Available Risk Premiums in Direct U.S. Middle Market Loans</p>
				    <!--<div id="avlRiskPremChart" style="width: 900px; height: 500px;"></div>-->
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>Mapping of Representative List of Direct Lending Managers</h5>
				  </div>
				  <div class="card-body">
				    <p class="card-text">Mapping of Representative List of Direct Lending Managers</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>Managers vary widely in their ability to limit net realized losses</h5>
				  </div>
				  <div class="card-body">
				    <!--<h5 class="card-title">Illustrative capitalization of $40m EBITDA middle market company</h5>-->
				    <p class="card-text">Managers vary widely in their ability to limit net realized losses</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>Manager differences carry over to longer time periods</h5>
				  </div>
				  <div class="card-body">
				    <p class="card-text">Manager differences carry over to longer time periods</p>
				  </div>
				</div>
			</div>
		</div>
	</div>
</main>
      </div>
    </div>