.dashboardSec{
	margin-top:35px;
}

.cdlfChartSec .card {
  margin-bottom:25px;
}

.custom-title{
  font-weight:bold;
  font-size:14px;
}

.illCapChartSec{
  width: 250px;
  //border: 1px solid;
  margin: 0 auto;
}

.illCapChartSec .illCapChartSec-box0 {
  font-weight: 500;
  color: #757575;
  font-size: 22px;
  font-style: italic;
  margin-bottom:10px;
}
.illCapChartSec .illCapChartSec-box1 {
    font-size: 20px;
    color: #757575;
    border: 1px dashed grey;
    background: #b6b9868c;
    margin-bottom:10px;
}
.illCapChartSec .illCapChartSec-box2 {
    border: 1px solid grey;
    background: #b6b9868c;
    height: 200px;
    padding: 80px 5px 0;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 500;
    margin-bottom:10px;
}
.illCapChartSec .illCapChartSec-box3 {
   font-size: 20px;
    border: 1px solid grey;
    background: #b6b9868c;
    margin-bottom: 10px;
    font-weight: 500;
    padding: 5px;
  
}
.illCapChartSec .illCapChartSec-box4 {
}
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}